# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.10_2 Time Class Case Study; Throwing Exceptions.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
